@page "/cart"
@inject IOrderService _orderService
@inject ICartService _cartService
@inject NavigationManager _navigationManager

<PageTitle>Cart</PageTitle>

@if (addedCartItems == null || addedCartItems.Count == 0)
{
    <span>@message</span>//Loading???
}
else
{
    <div>
        @foreach (var item in addedCartItems)
        {
            <div class="container">
                <div class="image-wrapper">
                <img src="@item.ImageUrl" class="image"/>
            </div>
            <div class="name">
                <h5><a href="/item/@item.ItemId">@item.Name</a></h5>
                <input type="number" value="@item.Quantity" @onchange="@((ChangeEventArgs ev) => UpdateItemsQuantity(ev, item))" class="form-control input-quantity" min="1" />
                <button class="btn-delete" @onclick="@(() => DeleteItemFromCart(item.ItemId))">Remove product</button>
                </div>
                <div class="cart-item-price">$@(item.Price * item.Quantity)</div>
                </div>
        }
            <div class="cart-item-price">
                Total (@addedCartItems.Count): $@addedCartItems.Sum(item => item.Price * item.Quantity);
            </div>
    </div>
    <MudButton OnClick="PlaceOrder">Place an order</MudButton>
}