@page "/cart"
@inject IOrderService OrderService
@inject ICartService CartService
@inject IItemService ItemService
@inject IBreadcrumbService BreadcrumbService
@inject NavigationManager NavigationManager

<div class="breadcrumbs-container">
    <ul class="breadcrumbs">
        @foreach (var breadcrumb in BreadcrumbService.Breadcrumbs)
        {
            <li class="breadcrumb-item"><a href="@breadcrumb.Link">@breadcrumb.Label</a></li>
        }
    </ul>
</div>
<div style="margin-top: 30px; margin-left: 20px;">
    <MudText Typo="Typo.h4">SHOPPING CART</MudText>
</div>

<div class="page-container">
    @if (addedCartItems == null || addedCartItems.Count == 0)
    {
        <span>@message</span>
    }
    else
    {
        <MudTable Items="@addedCartItems">
            <HeaderContent>
                <MudTh>CART ITEMS</MudTh>
                <MudTh>PRICE</MudTh>
                <MudTh>QUANTITY</MudTh>
                <MudTh>SUBTOTAL</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate Context="item">
                <MudTd>
                    <div class="item-box">
                        <img src="@item.ImageUrl" class="item-image" />
                        <div class="item-name">
                            <MudText Typo="Typo.h5">
                                <a href="/item/@item.ItemId">@item.Name</a>
                            </MudText>
                        </div>
                    </div>
                </MudTd>
                <MudTd>$@item.Price</MudTd>
                <MudTd>
                    <div>
                        <input type="number" value="@item.Quantity" @onchange="@((ChangeEventArgs ev) => UpdateItemsQuantity(ev, item))" class="form-control input-quantity" min="1" max="@itemDto.QuantityInStock" />
                    </div>
                </MudTd>
                <MudTd>$@(item.Price * item.Quantity)</MudTd>
                    <MudTd>
                        <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Error" @onclick="@(() => DeleteItemFromCart(item.ItemId))"></MudIconButton>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-danger">@message</div>
        }
        <div class="fixed-bottom-right" style="position: fixed; bottom: 40px; right: 50px;">
            <div class="total-price">
                <MudText Typo="Typo.h5">
                    TOTAL: $@addedCartItems.Sum(item => item.Price * item.Quantity)
                </MudText>
            </div>
            <div class="place-order-button">
                <MudButton Variant="Variant.Outlined" Color="Color.Dark" OnClick="ProceedToCheckout" Disabled="@IsQuantityExceedingStock">Go to Checkout</MudButton>
            </div>
        </div>
    }
</div>