@page "/checkout"
@inject ICartService CartService
@inject IDeliveryService DeliveryService
@inject IOrderService OrderService
@inject IBreadcrumbService BreadcrumbService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div class="breadcrumbs-container">
    <ul class="breadcrumbs">
        @foreach (var breadcrumb in BreadcrumbService.Breadcrumbs)
        {
            <li class="breadcrumb-item"><a href="@breadcrumb.Link">@breadcrumb.Label</a></li>
        }
    </ul>
</div>
<MudContainer Class="page-container">
    <div style="padding-top: 5%;">
        <MudGrid>
            <MudItem xs="12" md="6">
                <div class="delivery-info">
                    <MudText Style="margin-bottom: 2%;" Typo="Typo.h4">Your delivery information:</MudText>
                    @if (deliveryInfos != null)
                    {
                        foreach (var info in deliveryInfos)
                        {
                            <div class="delivery-information-container @(info.Id == selectedDeliveryInfoId ? "selected" : "")" @onclick="() => SetSelectedDeliveryInfo(info.Id)">
                                <div class="delivery-information">
                                    <p>Full name: @info.FirstName @info.LastName</p>
                                    <p>Phone number: @info.PhoneNumber</p>
                                    <p>Address: @info.Street, @info.City @info.ZipCode</p>
                                    <p>@info.State, @info.Country</p>
                                </div>
                            </div>
                        }
                    }
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudText Style="margin-bottom: 2%;" Typo="Typo.h4">Order summary</MudText>
                <MudPaper Class="mud-p-2">
                    <div class="order-summary">
                        <MudTable Items="addedCartItems">
                            <HeaderContent>
                                <MudTh>Product</MudTh>
                                <MudTh>Quantity</MudTh>
                                <MudTh>Price</MudTh>
                                <MudTh>Subtotal</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd>@context.Name</MudTd>
                                <MudTd>@context.Quantity</MudTd>
                                <MudTd>@context.Price</MudTd>
                                <MudTd>$@(context.Price * context.Quantity)</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </div>
                    </MudPaper>
                    <MudButton Style="margin-right: 191px; margin-top: 4%;" Variant=" Variant.Outlined" OnClick="(() => ManageDeliveryInfo())">Manage Delivery Information</MudButton>
                    <MudButton Style="margin-top: 4%;" ButtonType="ButtonType.Submit" Color="Color.Success" Variant="Variant.Outlined" OnClick="PlaceOrder">Confirm Order</MudButton>
                </MudItem>
            </MudGrid>
        </div>
    </MudContainer>
