@page "/contact"
@inject IBreadcrumbService _breadcrumbService

<div class="breadcrumbs-container">
    <ul class="breadcrumbs">
        @foreach (var breadcrumb in _breadcrumbService.Breadcrumbs)
        {
            <li class="breadcrumb-item"><a href="@breadcrumb.Link">@breadcrumb.Label</a></li>
        }
    </ul>
</div>
<MudContainer Class="page-container" Style="padding-top: 3%;">
    <MudPaper Class="p-3 mb-3">
        <MudText Typo="Typo.h5" Class="mb-2">Contact Information</MudText>
        <div>
            <MudIcon Icon="@Icons.Material.Filled.Phone" Class="mr-2" />
            <span>Phone: +1 234 56-78-90</span>
        </div>
        <div>
            <MudIcon Icon="@Icons.Material.Filled.Email" Class="mr-2" />
            <span>Email: abishev@example.com</span>
        </div>
    </MudPaper>
    <MudPaper Class="p-3 mb-3">
        <MudText Typo="Typo.h5" Class="mb-2">Address</MudText>
        <div>
            <MudIcon Icon="@Icons.Material.Filled.LocationOn" Class="mr-2" />
            <span>Donec mollis, 123</span>
        </div>
        <div>
            <MudIcon Icon="@Icons.Material.Filled.LocationCity" Class="mr-2" />
            <span>Aenean, 12-345</span>
        </div>
    </MudPaper>

    <MudPaper Class="p-3">
        <MudText Typo="Typo.h5" Class="mb-2">Social Networks</MudText>
            <a href="https://www.linkedin.com/in/dastan-abishev/" target="_blank" class="mr-3">
                <MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Class="mr-2" />
                <span>Linkedin</span>
            </a>
    </MudPaper>
</MudContainer>