@page "/item/{id:int}"
@using Diploma.DTO.Item;
@inject ICartService CartService
@inject IItemService ItemService
@inject IWishlistService WishlistService
@inject ILocalStorageWishlistService LocalStorageWishlistService
@inject IBreadcrumbService BreadcrumbService
@inject ISnackbar SnackBar


<div class="breadcrumbs-container">
    <ul class="breadcrumbs">
        @foreach (var breadcrumb in BreadcrumbService.Breadcrumbs)
        {
            <li class="breadcrumb-item"><a href="@breadcrumb.Link">@breadcrumb.Label</a></li>
        }
    </ul>
</div>
@if (itemDto == null)
{
    <div class="center">
        <Loading />
    </div>
}

else
{
    <MudContainer Class="page-container">
        <div class="container-0">
            <MudGrid>
                <MudItem lg="3" md="6" sm="12">
                    <div class="flex-container">
                        <div class="centered-content">
                            <img src="@itemDto.ImageUrl" alt="@itemDto.Name" class="item-image" />
                        </div>
                    </div>
                </MudItem>
                <MudItem lg="6" md="6" sm="12">
                    <MudPaper Class="pa-4">
                        <MudItem md="12" sm="12">
                            <div class="container-1">
                                <div class="left">
                                    <MudText Typo="Typo.h3">@itemDto.Name</MudText>
                                    @if (!isInWishlist)
                                    {
                                        <MudIconButton Icon="@Icons.Material.Filled.FavoriteBorder" Color="Color.Error" OnClick="ToggleWishlist" />
                                    }
                                    else
                                    {
                                        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Error" OnClick="ToggleWishlist" />
                                    }
                                </div>
                                <div class="right">
                                    <MudText Typo="Typo.h5">$@itemDto.Price</MudText>
                                </div>
                            </div>
                        </MudItem>
                        <MudDivider />
                        <MudText Typo="Typo.body1">@itemDto.Description</MudText>
                        <div class="container-2">
                            <div class="left">
                                @if (itemDto.StockStatus == ItemStockStatus.InStock || itemDto.StockStatus == ItemStockStatus.LowStock)
                                {
                                    <MudButton Variant="Variant.Outlined" OnClick="AddItemToCart" EndIcon="@Icons.Material.Filled.ShoppingCart" Color="Color.Default">
                                        Add to Shopping Cart
                                    </MudButton>
                                }
                                else
                                {
                                    <MudButton Variant="Variant.Outlined" OnClick="AddItemToCart" EndIcon="@Icons.Material.Filled.ShoppingCart" Color="Color.Default" Disabled="true">
                                        Add to Shopping Cart
                                    </MudButton>
                                }

                            </div>
                            <div class="right">
                                @if (itemDto.StockStatus == ItemStockStatus.InStock)
                                {
                                    <MudText Style="margin-left: 10px;" Typo="Typo.body1" Color="Color.Dark">In stock (@itemDto.QuantityInStock left)</MudText>
                                }
                                else if (itemDto.StockStatus == ItemStockStatus.LowStock)
                                {
                                    <MudText Style="margin-left: 10px;" Typo="Typo.body1" Color="Color.Dark">Low in stock (@itemDto.QuantityInStock left)</MudText>
                                }
                                else
                                {
                                    <MudText Style="margin-left: 10px;" Typo="Typo.body1" Color="Color.Dark">Out of stock (@itemDto.QuantityInStock left)</MudText>
                                }
                            </div>
                        </div>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </div>
    </MudContainer>
}