@page "/item/{id:int}"
@using Diploma.DTO.Item;
@inject ICartService CartService
@inject IItemService ItemService

@if (itemDto == null)
{
    <div class="center">
        <Loading />
    </div>
}
else
{
    <MudGrid>
        <MudItem lg="2" md="6" sm="12">
            <MudImage Src="@itemDto.ImageUrl" Alt="@itemDto.Name" Width="250" Height="240" />
        </MudItem>
        <MudItem lg="6" md="6" sm="12">
            <MudPaper Class="pa-4">
                <MudItem md="12" sm="12">
                    <MudText Typo="Typo.h4">@itemDto.Name</MudText>
                </MudItem>
                &nbsp;
                <MudText Typo="Typo.body1">@itemDto.Description</MudText>
                &nbsp;&nbsp;&nbsp;
                <MudText Typo="Typo.h5">$@itemDto.Price</MudText>
                <MudText Typo="Typo.h6">Quantity available: @itemDto.QuantityInStock</MudText>

                @if (itemDto.StockStatus == ItemStockStatus.InStock)
                {
                    <MudText Typo="Typo.h6" Color="Color.Success">In Stock</MudText>
                }
                else if (itemDto.StockStatus == ItemStockStatus.LowStock)
                {
                    <MudText Typo="Typo.h6" Color="Color.Warning">Low in Stock</MudText>
                }
                else
                {
                    <MudText Typo="Typo.h6" Color="Color.Error">Out of Stock</MudText>
                }

                @if (itemDto.StockStatus == ItemStockStatus.InStock || itemDto.StockStatus == ItemStockStatus.LowStock)
                {
                    <MudButton OnClick="AddItemToCart" EndIcon="@Icons.Material.Filled.ShoppingCart" Color="Color.Default">
                        Add to Shopping Cart
                    </MudButton>
                }
                else
                {
                    <MudButton OnClick="AddItemToCart" EndIcon="@Icons.Material.Filled.ShoppingCart" Color="Color.Default" Disabled="true">
                        Add to Shopping Cart
                    </MudButton>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
}