@page "/orders"
@inject IOrderService OrderService
@inject IBreadcrumbService BreadcrumbService

<div class="breadcrumbs-container">
    <ul class="breadcrumbs">
        @foreach (var breadcrumb in BreadcrumbService.Breadcrumbs)
        {
            <li class="breadcrumb-item"><a href="@breadcrumb.Link">@breadcrumb.Label</a></li>
        }
    </ul>
</div>
<div style="margin-top: 30px; margin-left: 20px;">
    <MudText Typo="Typo.h4">MY ORDERS</MudText>
</div>

<div style="margin-top: 30px; padding-left: 5%; padding-right: 5%; margin-bottom: 10%;" class="page-container">
    @if (orders != null)
    {
        @foreach (var order in orders)
        {
            <div class="order-container">
                <a href="order/@order.Id/details">
                    <MudPaper>
                        <div class="order-item">
                            <div class="left-side">
                                <MudText Typo="Typo.body1">Order ID: @order.Id</MudText>
                                <MudText Typo="Typo.body1">Price: $@order.TotalPrice</MudText>
                            </div>
                            <div class="right-side">
                                @if (order.Status == DTO.Orders.OrderStatus.Canceled)
                                {
                                    <MudText Typo="Typo.body1" Style="color: red">@order.Status</MudText>
                                }
                                @if (order.Status == DTO.Orders.OrderStatus.Approved)
                                {
                                    <MudText Typo="Typo.body1" Style="color: limegreen">@order.Status</MudText>
                                }
                                @if (order.Status == DTO.Orders.OrderStatus.Pending)
                                {
                                    <MudText Typo="Typo.body1">@order.Status</MudText>
                                }
                                <MudText Typo="Typo.body1">@order.OrderDate</MudText>
                            </div>
                        </div>
                    </MudPaper>
                </a>
            </div>
        }
    }
</div>