@page "/orders"
@inject IOrderService _orderService

<div style="margin-top: 30px; margin-left: 20px;">
    <MudText Typo="Typo.h4">MY ORDERS</MudText>
</div>

<div class="container">
    @if (orders != null)
    {
        @foreach (var order in orders)
        {
            <a href="order/@order.Id">
                <div class="order-item">
                    <div class="left-side">
                        <p>Order ID: @order.Id</p>
                        <p>Price: $@order.TotalPrice</p>
                    </div>
                    <div class="right-side">
                        @if (order.Status == DTO.Orders.OrderStatus.Canceled)
                        {
                            <p style="color: red">@order.Status</p>
                        }
                        @if (order.Status == DTO.Orders.OrderStatus.Approved)
                        {
                            <p style="color: limegreen">@order.Status</p>
                        }
                        @if (order.Status == DTO.Orders.OrderStatus.Pending)
                        {
                            <p>@order.Status</p>
                        }
                        <p>@order.OrderDate</p>
                    </div>
                </div>
            </a>
        }
    }
</div>

<style>
    .container {
        margin-top: 30px;
    }
    .order-item {
        display: flex;
        justify-content: space-between;
        border: 1px solid #ccc;
        border-right:none;
        border-bottom: none;
        padding: 7px;
        margin-bottom: 10px;
    }

    .left-side, .right-side {
        width: 48%;
    }
</style>