@page "/profile"
@attribute [Authorize]
@inject IUserService UserService
@inject IDeliveryService DeliveryService
@inject NavigationManager NavigationManager

<MudContainer Class="page-container">
    <h1>Your Profile</h1>

    <div>
        <h2>Delivery Information</h2>
        <AuthorizeView>
@*             <h3>Email: @context.User.Identity.</h3>
 *@        </AuthorizeView>

        <h1>Delivery Information</h1>
        <p>First Name: @deliveryInfo.FirstName</p>
        <p>Last Name: @deliveryInfo.LastName</p>
        <p>Phone Number: @deliveryInfo.PhoneNumber</p>
        <p>Street: @deliveryInfo.Street</p>
        <p>City: @deliveryInfo.City</p>
        <p>State: @deliveryInfo.State</p>
        <p>Country: @deliveryInfo.Country</p>
        <p>Zip-code: @deliveryInfo.ZipCode</p>
    </div>

    <button @onclick="EditDeliveryInfo">Edit Delivery Information</button>
</MudContainer>