@page "/orders/admin"
@using Diploma.DTO.Orders;
@using MudBlazor
@attribute [Authorize(Roles = "Admin")]
@inject IOrderService _orderService

<h3>All Orders (@orderCount)</h3>

<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Total Price</th>
            <th>Items</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (orders != null)        {
            @foreach (var order in orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.OrderDate</td>
                    <td>@order.TotalPrice</td>
                    <td>@order.Item</td>
                    <td>@order.Status</td>
                    <td>
                        <a href="order/admin/@order.Id">Details</a>
                    </td>
                    <td>
                        @if (order.Status == OrderStatus.Pending)
                        {
                            <button @onclick="() => ApproveOrder(order.Id)">Approve</button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>