@page "/order/admin/{orderId:int}"
@page "/order/admin"
@attribute [Authorize(Roles = "Admin")]
@inject IOrderService OrderService
@inject NavigationManager NavigationManager

@if (order == null)
{
    <Loading />
}
else
{

    <h3 style="padding-top: 3%; padding-left: 2%;">Order from @order.OrderDate</h3>

    <MudContainer Class="page-container" Style="margin-left: 0;">
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudTable Items="@order.Items">
                    <HeaderContent>
                        <MudTh>ORDER ITEMS</MudTh>
                        <MudTh>QUANTITY</MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>
                            <div class="item-box">
                                <img src="@context.ImageUrl" class="item-image" />
                                <div class="item-name">
                                    <MudText Typo="Typo.h5">
                                        <a href="/item/@context.ItemId">@context.Name</a>
                                    </MudText>
                                </div>
                            </div>
                        </MudTd>
                        <MudTd>@context.Quantity</MudTd>
                    </RowTemplate>
                </MudTable>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudPaper Class="mud-p-2">
                    <div class="order-info">
                        <h2 style="padding-top: 1%; padding-bottom: 1%;">Order Summary</h2>
                        <MudText Typo="Typo.body1">Order ID: @OrderId</MudText>
                        <MudText Typo="Typo.body1">Date: @order.OrderDate</MudText>
                        <MudText Typo="Typo.body1">Total Price: $@order.TotalPrice</MudText>
                    </div>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>
}