@using Diploma.DTO.Item;
@inject NavigationManager _navigationManager
@inject ICategoryService _categoryService
@inject IItemService _itemService
@inject IWishlistService _wishlistService
@inject ISnackbar _snackBar

<div style="width: 100vw;">
    <div class="carousel">
        <MudCarousel Class="mud-width-full" Style="height:500px;" ShowArrows="false" ShowBullets="false" AutoCycle="true" TData="string">
            <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
                <a href="/electric-guitars">
                    <img class="carousel-image" src="/images/guitarist.jpg" alt="Italian Trulli">
                    <div class="carousel-image-overlay">
                        <h3 class="message">Unleash your inner Rockstar</h3>
                    </div>
                </a>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
                <a href="/synthesizers">
                    <img class="carousel-image" src="/images/synth-player.jpg" alt="Italian Trulli">
                    <div class="carousel-image-overlay">
                        <h3 class="message">Instruments that Inspire – Discover Yours</h3>
                    </div>
                </a>
            </MudCarouselItem>
        </MudCarousel>
    </div>
</div>
<div class="categories-container">
    <div class="header">
        <h1>Categories</h1>
    </div>
    <MudGrid>
        @foreach (var category in _categoryService.Categories)
        {
            <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
                <div class="category-container">
                    <a href="@category.Url">
                        <img src="@category.ImageUrl" alt="@category.Name" class="category-image" />
                        <div class="category-overlay">
                            <h5 class="category-name">Shop @category.Name</h5>
                        </div>
                    </a>
                </div>
            </MudItem>
        }
    </MudGrid>
</div>
<div class="featured-items-container">
    <div class="header">
        <h1>Featured products</h1>
    </div>
    <MudGrid>
        @foreach (var item in featuredItems)
        {
            <MudItem xs="12" sm="6" md="4">
                <div class="featured-item-container">
                    <a href="item/@item.Id">
                        <img src="@item.ImageUrl" alt="@item.Name" class="featured-item-image" />
                        <div class="product-details">
                            <div class="item-name">@item.Name</div>
                            <div class="item-price">$@item.Price</div>
                        </div>
                        @*                         <MudIconButton Class="add-to-cart-button" Icon="@Icons.Material.Filled.AddShoppingCart"></MudIconButton>
                    *@
                    </a>
                </div>
            </MudItem>
        }
    </MudGrid>
</div>