@inject IItemService ItemService
@implements IDisposable

@if (ItemService.Items == null || ItemService.Items.Count == null)
{
    <span>@ItemService.Message</span>
}

else
{
<ul class="list-unstyled">
    @foreach (var item in ItemService.Items)
    {
    <li>
        <div class="img-wrapper">
            <a href="/item/@item.Id">
                <img class="img" src="@item.Image" alt="@item.Name">
            </a>
        </div>

        <div class="body">
            <a href="/item/@item.Id">
                <h4>@item.Name</h4>
            </a>
            <p>@item.Description</p>
            <h5 class="price">$@item.Price</h5>
        </div>
    </li>
    }
</ul>
}