@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0" Style="padding-left: 2.8%; padding-right: 2.8%;" Class="app-bar">
        <MudButton Size="Size.Large" OnClick="NavigateToHomePage">Music Store</MudButton>
        <MudSpacer />
        <div class="d-flex align-center gap-3">
            <div>
                <MudButton Class="categories-button" Variant="Variant.Text" Size="Size.Medium" OnClick="@(() => DrawerToggle(Anchor.Start))">
                    Categories
                </MudButton>
            </div>
            <ContactButton />
            <Search />
            <WishlistCounter />
            <CartCounter />
            <AccountButton />
            <AuthorizeView>
                <Authorized>
                    <AdminMenu />
                </Authorized>
            </AuthorizeView>
        </div>
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen"
               Anchor="@anchor"
               Elevation="1"
               Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Categories</MudText>
        </MudDrawerHeader>
        <CategoriesNavMenu />
    </MudDrawer>

    <MudMainContent Class="body">
        @Body
    </MudMainContent>
    <Footer />
    <MudScrollToTop>
        <MudFab Color="Color.Dark" Icon="@Icons.Material.Filled.ArrowCircleUp" />
    </MudScrollToTop>
</MudLayout>

